:root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 26px;
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Helvetica Neue 65 Medium', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.3px;
  color: #fff;
  cursor: default;
  background: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
}

.View {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.View-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  line-height: inherit;
}

/**
 * Sticker
 */

.Sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/**
 * Board
 */

.Board-instructions {
  position: absolute;
  top: 2vw;
  left: 2vw;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6);
}

strong {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

.Board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 4px dashed rgba(255, 255, 255, 0.4);
  outline-offset: -4px;
}

.Board-sticker {
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  will-change: transform;
}

.Board-sticker.is-saved {
  opacity: 1;
  will-change: none;
}

.Board-sticker--size1 {
  width: 5vw;
  height: 5vw;
}

.Board-sticker--size2 {
  width: 12vw;
  height: 12vw;
}

.Board-sticker--size3 {
  width: 20vw;
  height: 20vw;
}

/**
 * Counter
 */

.Counter {
  position: absolute;
  top: 2vw;
  right: 2vw;
  pointer-events: none;
}

/**
 * Inventory
 */

.Inventory {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18vh;
  padding: 1vh;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background: black;
  -webkit-overflow-scrolling: touch;
}

.Inventory.is-static {
  overflow: visible;
}

.Inventory-sticker,
.Inventory-form {
  width: 14vh;
  height: 14vh;
  margin: 0 1vh;
  flex: 0 0 auto;
  position: relative;
}

.Inventory-form {
  overflow: hidden;
  border: 2px dashed #fff;
  transition: border-radius 200ms ease;
}

.Inventory-form::after {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 16px;
  content: "upload photo";
  pointer-events: none;
}

.Inventory-form.is-loading {
  border-radius: 50%;
  animation: rotate infinite 5s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.Inventory-form.is-loading::after {
  content: "loading! :D";
}

.Inventory-form.is-loading .Inventory-file {
  display: none;
}

.Inventory-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(2, 4);
  transform-origin: top left;
}

.Inventory-sticker.is-draggingSource {
  opacity: 0;
}

.Inventory-sticker.is-mirror {
  will-change: transform;
}

.Inventory-sticker.is-mirror > * {
  transform: scale(1.1);
  transition: transform 150ms ease;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.5));
}

/**
 * Pad
 */

.Pad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px dashed #fff;
  outline-offset: -2vh;
}

.Pad-text {
  font-size: 16px;
  line-height: 3;
  top: -4vh;
  position: relative;
}
