:root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 26px;
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Helvetica Neue 65 Medium', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.3px;
  color: #fff;
  cursor: default;
  background: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.View {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.View-message {
  font-size: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  line-height: inherit;
}

/**
 * Sticker
 */

.Sticker {
  width: 100%;
  height: auto;
}

/**
 * Board
 */

.Board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 4px dashed rgba(255, 255, 255, 0.4);
  outline-offset: -4px;
}

.Board-sticker {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background: red;
  border-radius: 50px;
}

/**
 * Counter
 */

.Counter {
  position: absolute;
  top: 2vw;
  right: 2vw;
}

/**
 * Inventory
 */

.Inventory {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 2vh;
  display: flex;
  align-items: center;
  background: #999;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.Inventory-sticker {
  width: 6vh;
  height: 6vh;
  margin: 0 2vh;
  flex: 0 0 auto;
}

.Inventory-sticker.is-draggingSource {
  opacity: 0;
}

/**
 * Pad
 */

.Pad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.Pad.is-dragging {
  outline: 10px solid green;
  outline-offset: -10px;
}
